In [8]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

df = pd.read_csv ('member_sample.csv', index_col = 0)
df.info ()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21344 entries, 0 to 99998
Columns: 112 entries, Individual Key to Was Towed To AAR Referral
dtypes: float64(35), object(77)
memory usage: 18.4+ MB

In [9]:
df.head ()

,Individual Key,Household Key,Member Flag,City,State - Grouped,ZIP5,ZIP9,FSV CMSI Flag,FSV Credit Card Flag,FSV Deposit Program Flag,...,SC Vehicle Manufacturer Name,SC Vehicle Model Name,SVC Facility Name,SVC Facility Type,Total Cost,Tow Destination Latitude,Tow Destination Longitude,Tow Destination Name,Was Duplicated,Was Towed To AAR Referral
0,10000003.0,10462590.0,Y,NEW HAVEN,CT,6511.0,65111349.0,N,N,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,52211550.0,4500791.0,Y,WEST WARWICK,RI,2893.0,28933850.0,N,Y,N,...,TOYOTA,CAMRY,ASTRO WRECKER SERVICE,independent repair,32.5,41.0,-71.0,Aar / Johnson's Auto Service,0.0,1.0
2,52211550.0,4500791.0,Y,WEST WARWICK,RI,2893.0,28933850.0,N,Y,N,...,TOYOTA,CAMRY,Astro Wrecker Service,independent repair,30.0,0.0,0.0,NaN,0.0,0.0
3,52211550.0,4500791.0,Y,WEST WARWICK,RI,2893.0,28933850.0,N,Y,N,...,TOYOTA,CAMRY,ASTRO WRECKER SERVICE,independent repair,32.5,0.0,0.0,NaN,0.0,0.0
4,52211550.0,4500791.0,Y,WEST WARWICK,RI,2893.0,28933850.0,N,Y,N,...,TOYOTA,CAMRY,ASTRO WRECKER SERVICE,independent repair,30.0,0.0,0.0,NaN,0.0,0.0

In [11]:
df.tail ()

,Individual Key,Household Key,Member Flag,City,State - Grouped,ZIP5,ZIP9,FSV CMSI Flag,FSV Credit Card Flag,FSV Deposit Program Flag,...,SC Vehicle Manufacturer Name,SC Vehicle Model Name,SVC Facility Name,SVC Facility Type,Total Cost,Tow Destination Latitude,Tow Destination Longitude,Tow Destination Name,Was Duplicated,Was Towed To AAR Referral
99994,25797262.0,20330346.0,Y,WARWICK,RI,2886.0,28867552.0,N,N,N,...,VOLVO,V70,HERB'S SUNOCO,service station,36.00,41.0,-71.0,Tasca Automotive Group West,0.0,0.0
99995,25797262.0,20330346.0,Y,WARWICK,RI,2886.0,28867552.0,N,N,N,...,VOLVO,V70,AAA SNE RI LIGHT SERVICE,mobile battery service,53.00,0.0,0.0,NaN,0.0,0.0
99996,28273400.0,8325571.0,Y,WARWICK,RI,2886.0,28868235.0,N,N,N,...,FORD,ECONOLINE,Aaa Sne Ri Light Service,mobile battery service,58.85,NaN,NaN,NaN,0.0,0.0
99997,28273400.0,8325571.0,Y,WARWICK,RI,2886.0,28868235.0,N,N,N,...,HYUNDAI,SONATA,Aaa Sne Ri Light Service,mobile battery service,58.85,NaN,NaN,NaN,0.0,0.0
99998,28273400.0,8325571.0,Y,WARWICK,RI,2886.0,28868235.0,N,N,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [21]:
print ('Number of columns:', len (df.columns), ' Number of rows:', df.shape [0], '\n', df.columns)

Number of columns: 112  Number of rows: 21344
 Index(['Individual Key', 'Household Key', 'Member Flag', 'City',
       'State - Grouped', 'ZIP5', 'ZIP9', 'FSV CMSI Flag',
       'FSV Credit Card Flag', 'FSV Deposit Program Flag',
       ...
       'SC Vehicle Manufacturer Name', 'SC Vehicle Model Name',
       'SVC Facility Name', 'SVC Facility Type', 'Total Cost',
       'Tow Destination Latitude', 'Tow Destination Longitude',
       'Tow Destination Name', 'Was Duplicated', 'Was Towed To AAR Referral'],
      dtype='object', length=112)