In [16]:
#print ("JacobSession02")
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

df = pd.read_csv ('member_sample.csv', index_col = 0)

In [17]:
df.head()

,Individual Key,Household Key,Member Flag,City,State - Grouped,ZIP5,ZIP9,FSV CMSI Flag,FSV Credit Card Flag,FSV Deposit Program Flag,...,SC Vehicle Manufacturer Name,SC Vehicle Model Name,SVC Facility Name,SVC Facility Type,Total Cost,Tow Destination Latitude,Tow Destination Longitude,Tow Destination Name,Was Duplicated,Was Towed To AAR Referral
0,10000003.0,10462590.0,Y,NEW HAVEN,CT,6511.0,65111349.0,N,N,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,52211550.0,4500791.0,Y,WEST WARWICK,RI,2893.0,28933850.0,N,Y,N,...,TOYOTA,CAMRY,ASTRO WRECKER SERVICE,independent repair,32.5,41.0,-71.0,Aar / Johnson's Auto Service,0.0,1.0
2,52211550.0,4500791.0,Y,WEST WARWICK,RI,2893.0,28933850.0,N,Y,N,...,TOYOTA,CAMRY,Astro Wrecker Service,independent repair,30.0,0.0,0.0,NaN,0.0,0.0
3,52211550.0,4500791.0,Y,WEST WARWICK,RI,2893.0,28933850.0,N,Y,N,...,TOYOTA,CAMRY,ASTRO WRECKER SERVICE,independent repair,32.5,0.0,0.0,NaN,0.0,0.0
4,52211550.0,4500791.0,Y,WEST WARWICK,RI,2893.0,28933850.0,N,Y,N,...,TOYOTA,CAMRY,ASTRO WRECKER SERVICE,independent repair,30.0,0.0,0.0,NaN,0.0,0.0

In [18]:
df['City'].value_counts()[:3].sum()

7247

In [19]:
df['State - Grouped'].value_counts()

RI    20937
CT      407
Name: State - Grouped, dtype: int64

In [22]:
df['FSV Mortgage Flag'].value_counts()

N    21317
Y       27
Name: FSV Mortgage Flag, dtype: int64

In [23]:
def y_n_to_binary(x):
    if x == 'Y':
        return 1
    else:
        return 0

In [27]:
df['FSV Mortgage Flag'] = df['FSV Mortgage Flag'].apply(y_n_to_binary)
df['FSV Mortgage Flag']

0        0
1        0
2        0
3        0
4        0
        ..
99994    0
99995    0
99996    0
99997    0
99998    0
Name: FSV Mortgage Flag, Length: 21344, dtype: int64

In [29]:
[i for i in df.columns if i.startswith('Children')]
df['Children'].value_counts()
df.groupby('Children')['Number of Children'].describe()

         count unique          top  freq
Children
No        5379      1  No children  5379
Yes       6631      7    One Child  3871

In [36]:
vals = df['Number of Children'].value_counts().index
nums = list(range(7))
nums

[0, 1, 2, 3, 4, 5, 6]

In [37]:
df['Number of Children'] = df['Number of Children'].map({v:n for v, n in zip (vals, nums)})
df['Number of Children']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
99994   NaN
99995   NaN
99996   NaN
99997   NaN
99998   NaN
Name: Number of Children, Length: 21344, dtype: float64

In [39]:
df.loc[(df['Number of Children'] == 0) & (df['Children'] == 'Yes]')].shape

(0, 112)

In [47]:
child_problems = df.loc[(df['Number of Children'] == 0) & (df['Children'] == 'Yes]')]
#df['Age'].describe()

In [48]:
#child_problems.groupby ('Household Key')[['Number of Children', 'Age']].mean()

In [49]:
# Don't engineer too many features for clustering, otherwise it is hard to make sense of